*{
    background-color:bisque;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}
#alineacion1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;

}
h1{
    font-size: 50px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    background-color: rgb(135, 183, 245);

}
li{
    background-color:rgb(135, 183, 245);
}
.arreglos{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    background-color: rgb(135, 183, 245);
    color: black;
    padding: 30px;
} 
.circulo{
    background-color:rgb(135, 183, 245);
    font-size: 20px;
}
.alineacion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
#foto1{
    width: 1000px;

}
.alineacion3{
    display: flex;
    flex-direction: column;
    align-items:  center;
    
}
.titulo{
    font-size: 40px;
    padding: 20px;

}
.imagen1{
    padding-top: 50px;
}
.texto1{
    font-size: 20px;
    margin: 0px 50px;
    
    padding-bottom: 20px;
    
    
}
.imagendra{
    width: 150px;
    padding-bottom: 20px;
}
.alineacion4{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    

    
}
.alineacion5{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.nombre{
    font-weight: bold;
    font-size: 25px;
}
.especialidad{
    font-size: 18px;
}
.cv{
    text-decoration: none;
    color: black;
    font-size: 15px;
    border: 1px solid rgb(135, 183, 245);
    padding: 10px;
}
.estiloMensaje{
    color: black ;
    font-size: 20px;
    
    
}
#formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.label{
    font-size: 20px;
}
.inputs{
    background-color:beige ;
    font-size: 15px;
    padding: 10px;
    font-weight: bolder;
    color: black;
    text-shadow: 0.1vw 0.1vw #eeeeee;
    padding-right: 400px;

    
}
.alinear{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
   
}
.btn-form{
    background-color: beige;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px grey;
    margin-bottom: 20px;

}